*{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}
/*去掉链接样式*/
a:link,a:visited{
	text-decoration: none;
	color: black;

}
body{
	font-family: "微软雅黑";
	color: #14191e;
}
.main{
	width: 1200px;
	height: 460px;
	margin: 30px auto;
	overflow: hidden;
	position: relative;
}
.banner{
	width: 1200px;
	height: 460px;
	/*overflow: hidden;*//*建议加上*/
	position: relative;
}
.banner_slide{
	width: 1200px;
	height: 460px;
	position: absolute;
	display: none;
	background-repeat: no-repeat;/*因为不平铺*/
}
.slide-active{
	display: block;
}
/*背景图片设置*/
.slide1{
	background-image:url("./css素材/img/1.jpg");
}	
.slide2{
	background-image:url("./css素材/img/4.jpg");
}	
.slide3{
	background-image:url("./css素材/img/3.jpg");
}	
 .button{
 	position: absolute;/*写这儿的时候给main加了相对定位*/
 	width: 40px;
 	height: 80px;
 	left: 244px;
 	top: 50%;
 	margin-top:-40px;
 	/*background: white;*/
 	color:pink;/*设置文字颜色*/
 	/*text-decoration-color: white;*/
 	text-decoration: none;/*不要下划线*/
 	line-height: 80px;
 	font-size: 35px;
 	opacity: 0.5;/*设置透明度*/
 }
 .button:hover{
 	background: #333;
 	opacity: 0.8;
 	/*filter: alpha(80);*/
 }
 .prev{
 	transform: rotate(350deg);/*给他旋转一下*/
 }
 .next{
 	left: auto;/*因为button已经设置了left，此处相当于重置left*/
 	right: 0;
 }
 .dots{
 	position: absolute;
 	/*left: auto;*/
 	right:24px;
 	bottom: 24px;
 	text-align: right;
 }
 .dots span{
 	display: inline-block;/*块状行内元素*/
 	width: 12px;
 	height: 12px;
 	line-height: 12px;/*居中对齐*/
 	border-radius: 50%;/*圆角50%也就是圆*/
 	background: rgba(255,0,0,0.4);/*用rgba设置颜色以及透明度*/
 	box-shadow: 0 0 0 2px rgba(255,255,255,0.8) inset/*内置*/;/*设置阴影box—shadow 水平距离 垂直距离 阴影距离 模糊程度 颜色以及透明度*/
 	margin-right: 8px;
 	cursor: pointer;/*光标形状手型*/
 }
 .dots span.active{/*span.active这里没空格，不是子元素*/
 	box-shadow: 0 0 0 2px rgba(7,17,27,0.4) inset;
 	background: #fff;
 }
 /*导航菜单*/
 .menu-box{
 	width: 244px;
 	height: 460px;
 	position: absolute;
 	left: 0;
 	top: 0;
 	background: rgba(7,17,17,0.5);
 	opacity: 0.5;
 	z-index: 1;
 }
 .menu-content{
 	width: 244px;
 	height: 454px;
 	position: absolute;
 	left: 0;
 	top: 0;
 	z-index: 2;
 	padding-top: 6px;
 }
 .menu-item{
 	height: 64px;
 	line-height: 66px;
 	font-size: 20px;
 	/*底下的线*/
 	padding: 0 24px;
 	position: relative;
 }
.menu-item a:link,.menu-item a:visited{
	color: #fff;
}
.menu-item a{
	/*转成块元素*/
	display: block;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	padding: 0 8px;
	height: 63px;
}
.menu-item i{
	position: absolute;
	right: 20px;
	font-size: 24px;
	top: 0;
	/*不要倾斜了*/
	font-style: normal;
	font-weight: normal;
	color: rgba(255,255,255,0.5);
}

.sub-menu{
	width: 730px;
	height: 458px;
	border: 1px solid #d9dde1;
	background: #fff;
	position: absolute;
	left: 244px;
	top: 0;
	z-index: 999;
	/*加阴影*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.1);
}
.inner-box{
	width: 100%;
	height: 100%;
	position: absolute;

	background-image: url(./css素材/images/03-07.jpg);
	background-size: 100% 100%;
	/*opacity: 0.4;*/
	background-repeat: no-repeat;

}
.sub-inner-box{
	position: absolute;
	width: 652px;
	margin-left: 40px;
	overflow:hidden;
	display: none;
}
.title{
	color: red;
	font-size: 20px;
	line-height: 20px;
	margin: 30px 0 30px 0;
	font-weight: bold;
}
.bold{
	font-weight: bold;
}
.mr10{
	margin-right: 10px;
}
.ml10{
	margin-left: 10px;
}
.sub-row{
	margin-bottom: 40px;
	color: white;
}
.hide{
	display: none;
}