*{margin: 0px;padding:0px;}
.top{width: 100%;height: 400px;background-color:#07cbc9;}
.top .title{width: 100%;height: 80px;line-height: 80px;overflow: hidden;line-height: 80px;color: white;}
.top .title .left, .top .title .nav{width:50%;float: left;padding-left: 30px;}
ul{height: 80px;padding-left: 65%;}
.top .title div ul li{float: left;padding-left: 20px;list-style-type: none;}
.clear{overflow: hidden;}

.pic_content,img,form{width: 100%;height: 320px;float: left;position: absolute;top: 90px;}
.table li{list-style-type: none;}
/*.height{height: 400px;}*/
.about-one,.about-two{width: 100%;height: 400px;background-color: pink;}
.about-two{background-color: blue;}


.galler{width: 100%;height: 600px;background-color: red;}

.footer{width: 100%;height: 80px;background-color: yellow;}
