@charset "UTF-8";
.header_myInfo{
	position: absolute;
	top: 0.2rem;
}
.header_myInfo_face{
    left:auto;	
    top: -0.3rem;	
	right: 0.1rem;
}
.header_myInfo_nameField{
	flex-direction: row-reverse;
	margin-right: 0.1rem;
}
.content-box{
	width: 100%;
	text-indent: 0.2rem;
	line-height: 0.16rem;
}
.content-box > p,
.content-box  li
{
	line-height: 0.18rem;
	font-size: 0.12rem;
	text-indent: 0.3rem;
}
.content-box > h1{
	font-size: 0.14rem;
	font-weight: bold;
	line-height: 0.20rem;
	padding: 0.04rem 0;
	border-bottom: 1px solid #ccc;
}