@charset "UTF-8";

html{
	width: 100%;
	height: 100%;
	background: #f4f4f4;	
}
body{
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
	position: relative;	
}
.container{
	width: 100%;
	height: 100%;
	max-width: 750px;
	margin: 0 auto;
	position: relative;
	overflow: scroll;
	scroll-behavior: smooth
	
}
header{
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	font-size: 0.14rem;
}
.backTop{
	width: 0.40rem;
	height: 0.60rem;	
	line-height: 0.50rem;

	font-size: 0.62rem;
	text-align: center;
	color: #fff;
	background: transparent;

	position: absolute;
	bottom: 0.5rem;
	right: 0.2rem;
	border-radius: 0.02rem;
}
.container .demo-container{
	width: 100%;	
	max-width: 750px;
	margin: 0 auto;
	position: relative;	
	scroll-behavior: smooth;
	outline:1px solid pink;
	display: flex;
	flex-wrap: wrap;
}
.container .demo-container .demo{
	width: 50%;
	height: auto;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}