.demo-container > .demo.demo-drop{
	
	align-items: flex-start;
}
.dropMenu{
	width: 0.5rem;
	height: 0.2rem;
	line-height: 0.2rem;
	box-shadow: 1px 1px 2px #ccc;
	position: relative;
	z-index: 1;
}
.dropMenu:last-child ul{
	height: auto;
	overflow: hidden;
}

.dropMenu:hover{
	width: 0.51rem;
	height: 0.21rem;
	line-height: 0.21rem;
	box-shadow: 1px 1px 2px #ccc;
	top: 1px;
}
.dropMenu ul{
	width: 0.5rem;	
	box-shadow: 1px 1px 2px #ccc;
	position: relative;
	z-index: 1;
	background: #fff;
	height: 0;
	transition: height 2s;
	overflow: hidden;
}
.dropMenu:hover ul{
	height: auto;
	overflow: visible;
}
.dropMenu ul li{
	width: 0.5rem;
	height: 0.2rem;
	line-height: 0.2rem;
	box-shadow: 1px 1px 1px #ccc;
	position: relative;
	z-index: 1;
	overflow: visible;
}
.dropMenu ul li .cow{
	position: absolute;
	left: 100%;
	top: 0%;
	z-index: 2;
	height: 0;
	overflow: hidden;
}
.dropMenu ul li:hover .cow{
	height: auto;
}
.dropMenu:last-child ul li .cow{
	position: absolute;
	left: auto;
	right: 100%;
	top: 0%;
	z-index: 2;
	height: auto;
	/*animation: show 2s infinite;*/
}
/*.dropMenu:last-child ul li:hover .cow{
	animation: none;
}*/

@keyframes show{
	from{
		height: 0;
	}
	to{
		height: auto;

	}
}